<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-signin w-100 m-auto">
    <form [formGroup]="userForm" (ngSubmit)="login()">
        <h1 class="h3 mb-3 fw-normal">Log in</h1>

        <div class="form-floating">
            <input formControlName="userName" type="text" class="form-control" name="userName" id="userName"
                placeholder="Kullanıcı adı">
            <label for="floatingInput">Kullanıcı adı</label>
            <div class="alert alert-danger"
                *ngIf="userForm.get('userName')!.hasError('required') && userForm.get('userName')!.dirty"> Kullanıcı adı zorunludur</div>
        </div>
        <div class="form-floating">
            <input formControlName="password" type="password" class="form-control" name="password" id="password"
                placeholder="Password">
            <label for="floatingPassword">Password</label>
            <div class="alert alert-danger"
                *ngIf="userForm.get('password')!.hasError('required') && userForm.get('password')!.dirty"> Ürün adı
                zorunludur</div>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="userForm.invalid">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</div>

